@charset "UTF-8";

.tab{
  display: flex;
  flex-wrap: wrap;
}
.tab li a{
  display: block;
  background:#ddd;
  margin:0 2px;
  padding:10px 20px;
}
.tab li.active a{
  background:#fff;
}

.area {
  display: none;
  opacity: 0;
  background: #fff;
  padding:50px 20px;
}

.area.is-active {
    display: block;
    animation-name: displayAnime;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

@keyframes displayAnime{
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

body{
  background:#008000;
}

ul{
  list-style:none;
}

a{
  color:#333;
  text-decoration: none;
}

.wrapper{
  width:100%;
  max-width: 960px;
  margin:30px auto;
    background:#fefefe;
}

.area h2{
  font-size:1.3rem;
  margin:0 0 20px 10px;
}

.area li{
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

#box1{
  display: inline-block;
  text-align: center;
}

#table {
      text-align: center;
    }

h3{
  background-color: #f5f5dc;
}

h2{
  background-color: #eee8aa;
}

h1{
  color: #fffacd;
  background-color: #deb887;
}

.out {
  display: table;
  width: 100vw;
  height: 100vh;
}

.center {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.string {
  font-size: 30px;
  color: #FFFFFF;
}
